.custom-button-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid gray;
    border-radius: 5px;
    margin-left: 10px;
    padding-left: 6px;
    background-color: rgb(225, 225, 225);
    height: 40px;
  }
  
  .custom-button-wrapper .arrow-down {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0 10px; /* Added padding for better spacing */
  }
  
  .custom-button-wrapper .arrow-down .icon {
    width: 15px;
  }
  
  .custom-button-wrapper .custom-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    background-color: rgb(225, 225, 225);
    height: 100%;
    min-width: 140px;
    padding: 0 10px;
    border-right: 1px solid gray;
  }
  
  .custom-button-wrapper .custom-button .button-title {
    font-size: 20px;
  }
  
  .custom-button-wrapper .third {
    flex-grow: 1; 
    border-right: none;
    padding-right: 0;
  }
  
  .custom-button-wrapper .custom-button .start-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 3px;
  }
  