:root {
  --gray-color: gray;
  --gray-color-light: rgb(225, 225, 225);
  --gray-color-dark: rgb(85, 85, 85);
  --gray-color-hover: rgb(185, 185, 185);
  --gray-color-border: rgb(199, 199, 199);
  --black-color: black;
  --black-color-light: rgba(0, 0, 0, 0.2);
  --white-color: white;
}
