:root {
    --main-color: gray;
    --button-background-color: rgb(225, 225, 225);
    --button-hover-color: rgb(185, 185, 185);
    --background-color: rgb(227, 227, 227);
    --border-bottom: rgb(199, 199, 199);
    --icon-color: rgb(85, 85, 85);
    --laptop-size: 1024px;
    --tablet-size: 768px;
    --mobile-l: 425px;
    --mobile-m: 375px;
    --mobile-s: 320px;
}
  