.song-row {
    display: grid;
    grid-template-columns: 5% 40% 30% 10% auto;
    gap: 3px;
    width: 100%;
    align-items: center;
    border-bottom: 1px solid rgb(199, 199, 199);
    transition: background-color 0.3s; /* Add transition for a smooth effect */
  }
  
  .song-row:hover {
    background-color: rgba(0, 0, 0, 0.1); /* Change background color on hover */
  }
  
  .icons-block-one,
  .icons-block-two {
    display: flex;
    align-items: center;
  }
  
  .icons-block-two {
    justify-content: space-around;
  }
  
  .song-row-item {
    padding: 0 4%;
  }
  
  .song-row-item p {
    font-size: 20px;
  }
  

  @media only screen and (max-width:768px){
    .song-row-item p{
      font-size: 18px;
      text-align: start;
    }
    
    .trackNumber{
      display: none;
    }
    .song-row{
      grid-template-columns: repeat(4 , 1fr);
    }
  }


  @media only screen and (max-width:425px){
    .song-row{
      display: flex;
      flex-direction: column;
      padding: 10px 0;
    }
  }
/* 
  @media only screen and (max-width: 375px){
    .song-row-item p{
      font-size: 13px;
    }
  } */