/* Song List Header */
.song-list-header {
    display: grid;
    grid-template-columns: 5% 40% 30% 10% auto;
    gap: 3px;
    max-width: 1100px; 
    width: 100%;
    margin: 0 auto;
    margin-top: 20px;
    border-bottom: 1px solid  rgb(199, 199, 199);
  }
  
  /* Song List Header Block */
  .songListHeader-block{
    background-color: rgb(218, 217, 217);
    padding: 0 4%;
  }

  .songListHeader-block p{
    font-weight: bold;
    color: rgb(111, 111, 111) ;
  }
  
 @media only screen and (max-width:1150px){
  .song-list-header{
    width: 95%;
  }
 }

 @media only screen and (max-width:768px){
  .song-list-header{
    display: none;
  }
 }
  