@import '../../variables';


.MusicPlayerHeader{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--background-color);
  border: 1px solid var(--main-color);
  border-radius: 5px;
  height: 60px;
  margin: 0 auto;
  width: 100%;
}
.HeaderWrapperOne,
.HeaderWrapperTwo{
  display: flex;
  align-items: center;
}

.filterForm{
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  border: 1px solid var(--main-color);
  border-radius: 50px;
  height: 40px;
  padding: 0 5px;
  margin: 0 10px;
  background-color: white;
}

.filterForm input{
  max-width: 250px;
  font-size: 20px;
  width: 100%;
  border: none;
  outline: none;
  background-color: white;
}

.filterForm .icon{
  fill: var(--icon-color);
}


@media only screen and (max-width:768px){
  .MusicPlayerHeader{
    height: auto;
  }
  .HeaderWrapperOne,
  .HeaderWrapperTwo{
    width: 50%;
    margin: 10px;
    gap: 10px;
    flex-direction: column;
  }

  .filterForm{
    width: 80%;
    margin: 0 0 0 10px;
  }
  .filterForm input{
    font-size: 16px;
  }
}

@media only screen and (max-width:430px){
  .MusicPlayerHeader{
    flex-direction: column;
  }
  .filterForm{
    width: 150%;
  }
}

